<h4 class="center">Okay... so <%=name%>, you are <%=age%> years old, and your 3 favorite numbers are <%=fav_num1%>, <%=fav_num2%>, and <%=fav_num3%>. The total of your 3 favorite numbers is <%=sum%>. That number is <%=results%> your age. </h4>



